<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form action="/output" method="post">
      <label for="user-number">Enter allergy number</label>
      <input type="number" name="user-number">

      <button type="submit" name="button">Check results</button>

    </form>

  </body>
</html>
